<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <script type="module" src="/views/components/CommonHeader.js"></script>
    <script type="module" src="/views/components/CommonFooter.js"></script>
    <link rel="stylesheet" href="index.css" />
    <script type="module" src="index.js"></script>
    <title>야옹 잡화점</title>
  </head>
  <body>
    <common-header></common-header>
    <main>
      <section>
        <img id="product_thumbnail" src="" alt="thumbnail" />
        <div id="info_box" class="card"></div>
      </section>
    </main>
    <common-footer></common-footer>
  </body>
</html>
